@media (max-width: 1350px) {

  .bottom {
    width: 100vw !important;
    flex-direction: column;
    justify-content: center !important;
  }

  .best {
    flex-direction: column;
  }

  .images {
    flex-direction: column !important;
  }

  .images div {
    justify-content: center !important;
  }

  .right {
    flex-direction: row !important;
    width: auto !important;
  }
}

@media (max-width: 930px) {

  .footer {
    justify-content: center !important;
  }

  .links {
    flex-direction: column;
  }

  .images img {
    height: auto;
  }

  .left {
    width: 80vw;
    height: auto;
    margin: auto;
  }

  .right {
    flex-direction: column !important;
    align-items: center !important;
  }

  .right img {
    width: 55%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.container>div,
.flex-center {
  display: flex;
  justify-content: center;
}

/* HEADER */
.header {
  background-color: #000;
  flex-direction: column;
  margin: 0;
  padding: 10px 0;
}

.header img {
  padding: 10px 0;
  height: 49px;
}

ol {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.header li a {
  display: flex;
  padding: 0 25px;
  font-size: 15px;
  text-transform: uppercase;
}

.header a:hover {
  color: #dedede;
}

/* HEADER */
/* CONTENT */

.content {
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
}

.content>div {
  max-width: 1440px;
}

.content h1 {
  margin: 35px 0
}

.b {
  padding: 25px;
}

.best {
  margin-bottom: 35px;
}

.banner {
  background-color: #efefef;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.banner h1 {
  text-align: center;
  font-size: 38px;
  max-width: 500px;
  margin: 10px 0
}

.banner p {
  font-weight: 600;
}

.images {
  width: 1318px;
  margin: 4px 0;
}

.left {
  display: flex;
  flex-wrap: wrap;

}

.right {
  display: flex;
  flex-direction: column;

}

.images img {
  padding: 6px;
}

/* CONTENT */
/* LIST */

.list {
  background-color: #f3f3f3;
  padding: 25px 0;
  margin: 25px 0;
}

.item {
  padding: 20px;
  width: 300px;
}

.items>div {
  width: 1440px;
  flex-wrap: wrap;
}

.fetch {
  width: 400px;
}

.elements {
  flex-wrap: wrap;
}

.element {
  width: 20px;
  height: 20px;
  text-align: center;
}

.elements div {
  background-color: #f3f3f3;
  padding: 25px;
  margin: 25px;
  border-radius: 4px;
}

.close {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  right: 42px;
  box-shadow: 0 16px 32px 0 rgba(0, 31, 109, 0.08)
}

/* LIST */
/* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
  padding: 0 25px 25px 25px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 1440px;
}

.footer>div>div {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.footer p,
a {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 13px;
  margin: 2px 0;
  color: #fff;
  text-decoration: none;
}

.footer h5 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}

.bar {
  width: 55px;
  background: #fff;
  margin: 12px 0;
  height: 3px;
}

.around {
  justify-content: space-between;
}

/* FOOTER */